/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none;
}

.bg-range-1 {
    background-color: #fcf04f;
}
.bg-range-2 {
    background-color: #9bffed;
}
.bg-range-3 {
    background-color: #7ff866;
}
.bg-range-4 {
    background-color: #4270f0;
}
.bg-range-5 {
    background-color: #f52e2e;
}
.bg-range-6 {
    background-color: #160101;
}

.nameLocation::-webkit-scrollbar {
    display: none;
}

.location::-webkit-scrollbar {
    width: 10px;
}

.location::-webkit-scrollbar-track {
    background-color: transparent;
}

.location::-webkit-scrollbar-thumb {
    background: rgb(100, 116, 139);
    border-radius: 20px;
}

.btn-legend-aktif{
    @apply left-0 -top-12 sm:top-1/2 sm:left-[400px] md:left-[370px] md:top-0 lg:top-0 lg:left-[315px];
}

.btn-legend-nonaktif{
    @apply left-[320px] bottom-0 sm:bottom-[120px] sm:left-[415px] md:left-[415px] md:top-0 lg:top-0 lg:left-[415px];
}

