/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
input:invalid,
textarea:invalid,
select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none;
}

.bg-range-1 {
    background-color: #f3f2e3;
}
.bg-range-2 {
    background-color: #d6e6e3;
}
.bg-range-3 {
    background-color: #b6eeab;
}
.bg-range-4 {
    background-color: #9ab3f5;
}
.bg-range-5 {
    background-color: #c90202;
}
.bg-range-6 {
    background-color: #380101;
}

.nameLocation::-webkit-scrollbar {
    display: none;
}

.location::-webkit-scrollbar {
    width: 10px;
}

.location::-webkit-scrollbar-track {
    background-color: transparent;
}

.location::-webkit-scrollbar-thumb {
    background: rgb(100, 116, 139);
    border-radius: 20px;
}

.animation-legend-start {
    @apply left-[100%];
}

.animation-legend-end {
    @apply left-5;
}

.btn-legend-aktif{
    @apply -top-5 sm:left-[360px] lg:-top-5 lg:left-[420px];
}

.btn-legend-nonaktif{
    @apply top-[75%] sm:left-0 lg:top-[25%];
}

.information-legend-aktif{
    @apply left-[50%] -translate-x-[50%] sm:left-0;
}

.information-legend-nonaktif{
    @apply left-[100%] sm:-left-20 opacity-0;
}
